.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.25em;
  color: #DDD;
}

.App-intro {
  font-size: large;
}

table {
  width: 100%;
  border: "1";
  color: #111;
  align: center;
  border-spacing: 5px;
  border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #222;
  color: white;
}

tr td:last-child {
  width: 40%;
  min-width: 40%;
  max-width: 20%;
  word-break: break-all;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
